{% extends "blog/base.html" %}

{% block content %}
  <h1>About Page</h1>
  <p>This site is an example of a Blog test.  The blog itself is written in Python utilizing Django,
     replaces the default sqlite DBs with postgres, and is deployed to an AWS EC2 with Nginx and Gunicorn.
     It was created as a simple web dev exploration, and registration of new accounts and
     posting are open to the public.  Feel free to register an account, update your
     avatar, create a post, update/delete said post, filter posts by clicking on
     usernames in the feed, as well as browse the paginated archive of posts.
  </p>

{% endblock content %}
